/* @media (max-width: 660px) {
    .login-form {
        width: 280px;
        height: 400px;
    }
    .signup-form {
        width: 280px;
        height: 600px;
    }
    .input-box {
        margin: 9px auto;
        height: 30px;
    }
    .logo-img {
        width: 90px;
    }
    .login-form-header {
        font-size: 37px;
    }
    .signup-form-header {
        font-size: 40px;
    }
    .form-btn {
        font-size: 14px;
        width: 7.25rem;
    }
}

@media (max-height: 775px) {
    .login-form {
        width: 260px;
        height: 370px;
        font-size: 13.5px;
    }
    .signup-form {
        width: 270px;
        height: 470px;
    }
    .input-box {
        font-size: 13px;
        margin: 7px auto;
        height: 30px;
    }
    .logo-img {
        width: 90px;
    }
    .signup-form-header {
        font-size: 24px;
    }
    .form-btn {
        font-size: 14px;
        width: 6.1rem;
    }
    .login-form .form-btn {
        margin-top: 15px;
    }
    .hide-unhide {
        height: 1.2rem;
    }
    .forgot-password {
        font-size: 11.5px;
        color: #DC952F;
    }
    .form-link {
        font-size: 12.2px;
    }
}

@media (max-width: 520px) {
    .signup-form {
        height: 500px;
    }
    .signup-form-header {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .hide-unhide {
        height: 1.27rem;
    }
    .forgot-password {
        font-size: 12.5px;
        color: #DC952F;
    }
    .input-box {
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    .login-form {
        width: 215px;
        height: 330px;
        font-size: 13px;
    }
    .signup-form {
        width: 200px;
        height: 410px;
    }
    .input-box {
        font-size: 9px;
        margin: 5px auto;
        height: 25px;
    }
    .logo-img {
        width: 80px;
    }
    .login-form-header {
        font-size: 30px;
    }
    .signup-form-header {
        font-size: 23px;
        margin-bottom: 10px;
    }
    .form-btn {
        font-size: 12px;
        width: 5rem;
    }
    .form-link {
        font-size: 10px;
    }
    .hide-unhide {
        height: 1.25rem;
        right: 2px;
    }
} */