
.singup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 270px;
    min-height: 490px;
}

.signup-form {
    font-size: 14px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 320px;
    height: 610px;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 387px;
}

.signup-form-header {
    font-size: 35px;
    margin-bottom: 10px;
}

.signup-form .form-btn {
    background-color: #000000;
}

.signup-form .form-btn:hover {
    background-color: #DC952F;
}