body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}


/* image */

.logo-img {
    width: 115.44px
}

.logos {
    width: 9%;
    margin-left: 5px;
    transform: translate(0, 2px);
}

.hide-unhide {
    height: 1.8rem;
    position: absolute;
    right: 10px;
}


/* Forms */

.input-box {
    font-size: 15px;
    width: 70%;
    height: 40px;
    border: 1px solid rgb(178, 177, 177);
    border-radius: 5px;
    padding: 2px;
    margin: 10px auto;
}

.input-box:focus {
    outline: 2px solid;
}

.form-btn {
    font-size: 16px;
    padding: 0.825rem;
    width: 11.25rem;
    border-style: none;
    margin-top: 1.80rem;
    margin-bottom: 1.5px;
    border-radius: 10px;
    color: rgb(236, 236, 236);
    background-color: #371821;
}

.form-link {
    font-size: 13px;
    color: black
}

.form-link a {
    color: black;
}

.continue-with-btn {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 20px;
    border: 1px solid #000000;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    justify-content: center;
}

.continue-with-btn:hover {
    background-color: #FFFFFF;
    border: none;
    border-radius: 30px;
    background-color: #DC952F;
    ;
}

